a {
    font-size: 1rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}