<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memberform</title>
</head>
<body>
    <h1>Medlemsformulär</h1>

    <div>
        <form method="post" th:action="@{/new-member}" th:object="${newMember}">
            <input type="text" th:field="*{name}" >
        <input type="submit">
    </form>
    </div>

    <ul>
        <li th:each="member : ${test}">
            <span th:text="${member.name}"></span>
        </li>
    
        <div><a href="/">Hem</a></div>
</body>
</html>