<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <script src="login.js" defer></script>
    <title>Medlemssidan</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <h1>Välkommen till medlemssidan!</h1>
    <p>Logga in för att lägga till och ta bort medlemmar</p>
    

    <div><a href="/login">Logga in/ut</a></div>
    
    <div><a href="/member">Medlemslista</a></div>

    <div id="parentElement">

    </div>
    
</body>
</html>