<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Medlemslista</title>
</head>
<body>
    <h1 id="test">Medlemslista</h1>

    <ul>
        <li th:id="${member.id}" th:each="member : ${memberList}">
            <span th:text="${member.name}"></span>
            <a th:href="@{/remove-member/{memberId}(memberId=${member.id})}">[x]</a>
        </li>
    
        <div><a href="/">Hem</a></div>
</body>
</html>