<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <title>Medlemslista</title>
</head>
<body>
    <h1 id="test">Medlemslista</h1>

    

        <table class="table">
    
            <tr>
                <th>Namn</th>
                <th>Efternamn</th>
                <th>Ålder</th>
                <th>Mailadress</th>
                <th>Ta bort</th>
              </tr>
        
            
            <tr th:each="member : ${memberList}">
                <td th:text="${member.name}"></td>
                <td th:text="${member.lName}"></td>
                <td th:text="${member.age}"></td>
                <td th:text="${member.mail}"></td>
                <td><a th:href="@{/remove-member/{memberId}(memberId=${member.id})}">[x]</a></td>
            </tr>
        
    
        </table>
    
        <div><a href="/">Hem</a></div>
        <div><a href="/login">Logga in/ut</a></div>
</body>
</html>